:root {
  --color-primary: #269fe6;
  --color-primary-hover: #2086c2;
  --color-primary-dark: #13141f;
  --color-primary-dark-hover: #212336;
  --color-primary-light: #d4ecfa;
  --color-primary-light-hover: #bdd8e7;

  --color-white: #fff;
  --color-black: #000;

  --color-dark-text: #444;
  --color-info-light: #cce5ff;
  --color-debug-light: #cce5ff;
  --color-success-light: #d4edda;
  --color-alert-light: #fff3cd;
  --color-warning-light: #fff3cd;
  --color-error-light: #f8d7da;

  --color-info-dark: #4d86c4;
  --color-debug-dark: #4d86c4;
  --color-success-dark: #4a9c5d;
  --color-alert-dark: #927f40;
  --color-warning-dark: #927f40;
  --color-error-dark: #da525d;

  --color-gray-0: #f9f9f9;
  --color-gray-1: #e0e0e0;
  --color-gray-2: #c7c7c7;
  --color-gray-3: #aeaeae;
  --color-gray-4: #959595;
  --color-gray-5: #7d7d7d;
  --color-gray-6: #646464;
  --color-gray-7: #4b4b4b;
  --color-gray-8: #323232;
  --color-gray-9: #191919;

  --font-primary: sans-serif;
  --font-headings: 'Roboto Slab', serif;

  --spacing-gutter-medium: 3rem;
  --spacing-gutter-large: 4rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
    font-size: 59.72%;
    height: 100%;
    margin: 0;
  }

body {
    font-size: 1.6rem;
    font-family: var(--font-primary);
    background: var(--color-gray-1);
    color: var(--color-dark-text);
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-headings);
}

header {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

a {
    color: var(--color-primary);
    text-decoration: none; 
}


.container {
    max-width: 144rem;
    margin: 0 auto;
    padding: var(--spacing-gutter-medium);
}
  
.main-header-container {
    background: var(--color-primary-dark);
}
  
.main-logo {
    font-size: 4rem;
    color: var(--color-white);
    text-decoration: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
}
  
.main-logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color-white); 
}

.main-logo-icon {
    margin-right: 2rem; 
    font-size: 4rem; 
}

.main-logo-text {
    font-size: 2rem;
    font-weight: bold;
}
  
.search-container {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px;
}

.search-form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.search-input {
    flex: 1;
    min-width: 150px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.search-input::placeholder {
    color: #888;
}

.search-input:focus {
    border-color: #007bff;
    outline: none;
}

.search-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #0056b3;
}

.search-button:focus {
    outline: none;
}

.search-form select {
    flex: 1;
    min-width: 150px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.search-form select:focus {
    border-color: #007bff;
    outline: none;
}


.popular-books-intro{
    padding-top: 4rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--color-dark-text);
    margin-bottom: 1rem;
}

.main-content {
    padding-top: 0;
}

.main-content-container {
    margin-left: 15rem;
    padding: var(--spacing-gutter-medium);
    padding-top: 10rem;
    flex: 1;
}

.main-content-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: var(--spacing-gutter-large);
}

.sidebar {
    position: fixed; /* Fixa a sidebar na tela */
    top: 0;
    left: -15rem; /* Coloca a sidebar fora da tela à esquerda */
    width: 15rem;
    height: 100vh;
    background-color: var(--color-primary-dark);
    color: var(--color-white);
    padding: var(--spacing-gutter-medium);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    z-index: 999; /* Garante que a sidebar fique abaixo do header e do botão de toggle */
    transition: left 300ms ease-in-out; /* Transição suave para a abertura e fechamento */
}

.sidebar-open {
    left: 0;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sidebar-title {
    font-size: 1.8rem;
    margin-bottom: var(--spacing-gutter-medium);
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 7rem;
}

.sidebar-item {
    display: block;
    padding: 1rem; 
    text-decoration: none;
    color: var(--color-white);
    font-size: 1.2rem;
    border-radius: 0.4rem;
    transition: background-color 300ms ease-in-out;
    font-size: 1.5rem;
}

.sidebar-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-toggle {
    position: fixed;
    top: 3rem; 
    left: 5rem;
    background: none;
    border: none;
    color: var(--color-white);
    font-size: 2rem;
    cursor: pointer;
    z-index: 1100;
    transition: color 300ms ease-in-out;
}

.sidebar-toggle:hover {
    color: var(--color-primary); 
}


.main-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--color-primary-dark);
    color: var(--color-white);
    padding: var(--spacing-gutter-large);
}
  
.main-footer a {
    color: var(--color-white);
    text-decoration: none;
    transition: all 300ms ease-in-out;
}
  
.main-footer a:hover {
    filter: brightness(0.8);
}

.book {
    background: var(--color-white);
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1);
    transition: all 300ms ease-in-out;
    border-radius: 0.4rem;
    overflow: hidden;
    width: fit-content;
}

.book-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.book img {
    max-width: 100%;
    max-height: 100%;
}

.book-list-item {
    max-width: 64rem;
    height: fit-content;
}

.book-list-item:hover {
    transform: scale(1.02);
    box-shadow: -8px 8px 18px rgba(0, 0, 0, 0.25);
}

.catalog-page .book-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(440px, 1fr)); 
    max-height: calc(100vh - 100px);  
    overflow-y: auto;  
}

.catalog-page .book-list-item {
    border: 1px solid #ccc;
    padding: 3rem; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex; 
    flex-direction: column;
}

.catalog-page .book-list-item:nth-child(n+13) {
    display: none;
}

@media (max-width: 1024px) {
    .catalog-page .book-list-item {
        width: calc(50% - 2rem);
    }
}

@media (max-width: 768px) {
    .catalog-page .book-list-item {
        width: calc(100% - 2rem);
    }
}




.book-title-container {
    padding: var(--spacing-gutter-medium);
    padding-bottom: 2rem;
}

.book-title-container a {
    text-decoration: none;
    color: var(--color-primary-dark);
}

.book-author {
    padding: 0 var(--spacing-gutter-medium);
}

.book-footer {
    padding: var(--spacing-gutter-medium);
}

.book-author-item i {
    margin-right: 0.5rem;
}

.book-read-more.button {
    display: block;
    width: 100%;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    color: var(--color-white);
    background-color: var(--color-primary-dark);
    border-radius: 0.4rem;
    transition: background-color 300ms ease-in-out;
}

.book-read-more.button:hover {
    background-color: var(--color-primary);
}

.book-isbn {
    margin-top: 10px;
    font-size: 0.9em;
    margin-left: 3rem;
}

.book-isbn-item {
    display: flex;
    align-items: center;
}

.book-isbn-item i {
    margin-right: 10px;
}


.new-book-form {
    display: flex;
    flex-direction: column;
    max-width: 60rem;
    margin: var(--spacing-gutter-large) auto 0;
    margin-left: 30rem;
    background-color: var(--color-white);
    padding: var(--spacing-gutter-medium);
    border-radius: 0.8rem;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
}


.form-group {
    margin-bottom: 1.5rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: var(--color-primary-dark);
}

.form-input {
    width: 100%;
    padding: 1rem;
    border: 0.1rem solid #cccccc;
    border-radius: 0.4rem;
    box-sizing: border-box;
    transition: border-color 300ms ease-in-out;
}

.form-input:focus {
    border-color: var(--color-primary);
    outline: none;
}

.form-button {
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;
    padding: 1rem;
    border-radius: 0.4rem;
    cursor: pointer;
    font-size:1.5rem;
    transition: background-color 300ms ease-in-out, box-shadow 300ms ease-in-out;
    margin-top: 1rem;
}

.form-button:hover {
    background-color: rgba(0, 123, 255, 0.9); 
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
}

